<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" >
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Pokemon Cards</title>
    <link rel="stylesheet" type="text/css" href="/styles/style.css">
</head>
<body>
    <header>
        <h1>Pokemon Cards</h1>
    </header>
    <main>
        <div class="cardContainer">
            <div class="pokeImageBackground">
                <img alt="pokemon" class="image">
            </div>
            <div class="info" id="pokemonInfo">
                <p id="pokemonCardName"></p>
                <p id="pokemonCardHeight"></p>
                <p id="pokemonCardWeight"></p>
                <p id="pokemonCardBaseExperience"></p>
            </div>
        </div>
        <label for="pokemonName"></label>
        <div class="nameInput">
            <input type="text" id="pokemonName" name="pokemonName" placeholder="Enter a Pokemon">
            <button id="getCard">Get Card!</button>
        </div>
    </main>
    <footer></footer>
<script src="/scripts/script.js"> </script>
</body>
</html>