<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" >
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Pokemon Cards</title>
    <link rel="stylesheet" type="text/css" href="/styles/style.css">
</head>
<body>
    <header>
        <h1>Pokemon Cards</h1>
    </header>
    <main>
        <div class="cardContainer">
            <div class="pokeImageBackground">
                <h4 id="pokemonCardType">Normal</h4>
                <img src = "https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/132.png" alt="pokemon" class="image" id="imageID">
            </div>
            <div class="info">
                <h3 id="pokemonCardName">Ditto</h3>
                <ul>
                    <li id="pokemonCardHeight">Height: 3</li>
                    <li id="pokemonCardWeight">Weight: 40</li>
                    <li id="pokemonCardBaseExperience">Base Experience: 101</li>
                </ul>
            </div>
        </div>
        <label for="pokemonName"></label>
        <div class="nameInput">
            <input type="text" id="pokemonName" name="pokemonName" placeholder="Enter a Pokemon">
            <button id="getCard">Get Card!</button>
        </div>
    </main>
    <footer>

    </footer>
<script src="/scripts/script.js"> </script>
</body>
</html>