body{
    background-color: #FBCEB1;
    font-family: "Arial";

}

header{
    text-align: center;
}

.cardContainer{
    position:absolute;
    bottom:20%;
    left: 30%;
    background-color: #E25822;
    color: white;
    margin: 10%;
    width: 300px;
    height: 400px;
    padding:10px;
    border-radius: 10px;
}

.pokeImageBackground{
    text-align:center;
    background: linear-gradient(90deg, rgba(63,251,246,1) 0%, rgba(85,72,185,1) 100%);
}

.image{
    height: 200px;
    width: 200px;
}

.info{
    background-color: #00BFFF;
    color: black;
}

.nameInput{
    position: absolute;
    left: 42%;
    bottom: 30%;
}

input{
    border-radius: 10px;
}

button{
    border-radius: 10px;
    background-color: #E25822;
    color: white;
}


